<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>userId</key>
    <string>YOUR_USER_ID_HERE</string>
    <key>pollInterval</key>
    <real>2</real>
    <key>meetingBundles</key>
    <array>
        <string>us.zoom.xos</string>
        <string>com.microsoft.teams2</string>
        <string>com.microsoft.teams</string>
        <string>com.cisco.webex.meetingapp</string>
        <string>com.slack.slack</string>
        <string>com.google.Chrome</string>
        <string>com.apple.Safari</string>
    </array>
    <key>useCalendar</key>
    <false/>
    <key>debugAssumeFrontmostImpliesMic</key>
    <false/>
</dict>
</plist>
