<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.example.LuxaforPresence</string>
	<key>CFBundleName</key>
	<string>LuxaforPresence</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Used to infer when you’re in a meeting.</string>
	<key>NSCameraUsageDescription</key>
	<string>Needed to detect when your camera is in use for meeting presence.</string>
	<key>NSCameraUseContinuityCameraDeviceType</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Needed to detect when your microphone is in use for meeting presence.</string>
</dict>
</plist>
